.cart-container {
  padding: 1.5rem;
  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
      font-size: 1.1rem;
      font-weight: 500;
    }
    p {
      font-size: 0.8175rem;
      color: var(--font-color-gray);
      display: flex;
      align-items: center;
    }

    #cart-number {
      margin: 0rem 0.5rem;
      font-size: 1.1rem;
      font-weight: 500;
      color: #000000;
    }

    h2 {
      font-size: 1.3rem;
      margin-top: 2rem;
    }
  }
  main {
    display: flex;
    justify-content: center;
    .carts-list {
      width: 90%;
      padding-top: 2rem;
      height: 600px;
      display: flex;
      overflow: auto;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 6rem;
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: none; /* Firefox 64 */

      &::-webkit-scrollbar {
        display: none;
      }

      .product-info-container {
        color: #000000;
      }
    }
  }
}
