.input-field {
  width: 95%;
  border-radius: 6px;
  border: 1px solid var(--input-border);
  padding: 0.5rem;
  input {
    width: 100%;
    border: none;
    height: 100%;
    background-color: transparent;

    &:is(:hover, :focus) {
      outline: none;
    }
  }
}

.error {
  color: red;
  font-size: 0.8125rem;
}
