.cloth-size-container {
  .title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 0.8rem;
  }
  #size {
    color: var(--font-color-gray);
  }
}
.cloth-size-options {
  display: flex;
  gap: 0.5rem;

  .active-option {
    border: 2px solid var(--purple-button-color);
  }
}
.size-option-button {
  font-size: 14px;
  font-weight: 400;
  height: 44px;
  width: 44px;
  background-color: transparent;
  border: 1px solid var(--input-border);

  &:hover {
    cursor: pointer;
  }
}
